#content {
  .container {
    .login-form-box {
      form {
        .form-group {
          ul {
            color: red;
            list-style-type: none;
            padding-left: 0;
          }
        }
      }
    }
  }

  .map {
    margin-top: 20px;
    height: 600px;
    background: #cccccc;
  }
}