@import "../variables";

body {
  nav.navbar {
    padding-left: 15px;
    padding-right: 15px;
    background-color: @yellow;
    border-color: @yellow;

    .navbar-header {
      a.logo {
        background: url('/img/logo_sm.png') no-repeat top left;
        height: auto;
        padding-left: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-background-size: contain;
        background-size: contain;
      }
      .navbar-toggle {
        margin-top: 18px;

        &:hover {
          background: transparent;
        }
      }
    }

    div {
      ul.nav {
        li {
          a {
            padding: 10px 15px;

            &:hover {
              background: @gray;
            }
          }

          ul.dropdown-menu {
            li {
              a {
                &:hover {
                  background: @gray !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .products-menu {
    min-height: 300px;
    top: 70px;
    background: @gray;
    width: 100%;
    z-index: 100000;
    display: none;
    border-bottom: 2px solid #ddd;
    margin-left: 0;
    position: fixed;

    &.open {
      display: block;
    }

    > div {
      font-weight:bold;

      &.all-products-trigger {
        position: absolute;
        bottom: 15px;
      }

      hr {
        margin: 2px 0 ;
      }

      span.empty-message {
        /*color: @gray; */
        color: #bbb;
      }

      > ul {
        list-style-type:none;
        padding: 0;

        li {
          padding: 5px 0 3px 0px;

          a {
            font-weight:normal;
            color: #000;
          }
        }
      }

      .empty-message {
        font-weight:normal;
      }
    }
  }

  .carousel {
    width: 100%;
    height: 70%;
    position: fixed;
    top: 71px;

    .carousel-inner {
      height: 100%;

      .item {
        height: 100%;

        .fill {
          height: 100%;
          background-size: cover;
          background: #fff center;
        }
      }
    }

    a.carousel-control {
      z-index: 1000;

      .fa {
        font-size: 50px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
      }
    }

    .pattern {
      width: 100%;
      height: 100%;
      background: url('/img/slider_pattern.png') repeat;
      position: absolute;
      top: 0;
    }
  }

  #content {
    background: #fff;
    position: relative;
    display: none;
    padding-bottom: 40px;

    .container {
      .alert {
        margin-top: 20px;

        ul {
          list-style-type: none;
          padding-left: 0;
        }
      }
    }
  }

  .promotions-box {
    background: @light-gray;
    border-top: 1px solid @gray;
    position: relative;
    min-height: 100px;
    display: none;

    .container {
      .row {
        > div {
          a {
            .thumbnail {
              img {
                height: 130px;
              }
              .logo {
                width: 100%;
                height: 130px;
                background: url('/img/logo_sm.png') no-repeat center;

              }
            }
          }
        }
      }
    }
  }

  footer {
    display: none;
    background: #fff;
    position: relative;
    border-top: 1px solid @gray;
    padding: 20px 0 30px;
  }

  .cookie-info-box {
    background: @yellow;
    padding: 15px 0 15px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: @text-color;

    .close-cookie-trigger {
      float: right;
      margin-right: 30px;
      cursor: pointer;
      font-size: 17px;
    }

    &.closed {
      display: none !important;
    }
  }
}


@media (min-width: 768px) {
  body {
    nav.navbar {
      .navbar-header {
        a.logo {

        }
      }

      div {
        ul.nav {
          li {
            a {
              padding: 25px;
            }
            ul.dropdown-menu {
              li {
                a {
                  padding: 3px 20px;
                }
              }
            }
          }
        }
      }
    }

    .slider {
      display: block;
    }
  }

}