body nav.navbar {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
body nav.navbar .navbar-header a.logo {
  background: url('/img/logo_sm.png') no-repeat top left;
  height: auto;
  padding-left: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-background-size: contain;
  background-size: contain;
}
body nav.navbar .navbar-header .navbar-toggle {
  margin-top: 18px;
}
body nav.navbar .navbar-header .navbar-toggle:hover {
  background: transparent;
}
body nav.navbar div ul.nav li a {
  padding: 10px 15px;
}
body nav.navbar div ul.nav li a:hover {
  background: #e7e7e7;
}
body nav.navbar div ul.nav li ul.dropdown-menu li a:hover {
  background: #e7e7e7 !important;
}
body .products-menu {
  min-height: 300px;
  top: 70px;
  background: #e7e7e7;
  width: 100%;
  z-index: 100000;
  display: none;
  border-bottom: 2px solid #ddd;
  margin-left: 0;
  position: fixed;
}
body .products-menu.open {
  display: block;
}
body .products-menu > div {
  font-weight: bold;
}
body .products-menu > div.all-products-trigger {
  position: absolute;
  bottom: 15px;
}
body .products-menu > div hr {
  margin: 2px 0 ;
}
body .products-menu > div span.empty-message {
  /*color: @gray; */
  color: #bbb;
}
body .products-menu > div > ul {
  list-style-type: none;
  padding: 0;
}
body .products-menu > div > ul li {
  padding: 5px 0 3px 0px;
}
body .products-menu > div > ul li a {
  font-weight: normal;
  color: #000;
}
body .products-menu > div .empty-message {
  font-weight: normal;
}
body .carousel {
  width: 100%;
  height: 70%;
  position: fixed;
  top: 71px;
}
body .carousel .carousel-inner {
  height: 100%;
}
body .carousel .carousel-inner .item {
  height: 100%;
}
body .carousel .carousel-inner .item .fill {
  height: 100%;
  background-size: cover;
  background: #fff center;
}
body .carousel a.carousel-control {
  z-index: 1000;
}
body .carousel a.carousel-control .fa {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
}
body .carousel .pattern {
  width: 100%;
  height: 100%;
  background: url('/img/slider_pattern.png') repeat;
  position: absolute;
  top: 0;
}
body #content {
  background: #fff;
  position: relative;
  display: none;
  padding-bottom: 40px;
}
body #content .container .alert {
  margin-top: 20px;
}
body #content .container .alert ul {
  list-style-type: none;
  padding-left: 0;
}
body .promotions-box {
  background: #efefef;
  border-top: 1px solid #e7e7e7;
  position: relative;
  min-height: 100px;
  display: none;
}
body .promotions-box .container .row > div a .thumbnail img {
  height: 130px;
}
body .promotions-box .container .row > div a .thumbnail .logo {
  width: 100%;
  height: 130px;
  background: url('/img/logo_sm.png') no-repeat center;
}
body footer {
  display: none;
  background: #fff;
  position: relative;
  border-top: 1px solid #e7e7e7;
  padding: 20px 0 30px;
}
body .cookie-info-box {
  background: #f0ad4e;
  padding: 15px 0 15px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #333;
}
body .cookie-info-box .close-cookie-trigger {
  float: right;
  margin-right: 30px;
  cursor: pointer;
  font-size: 17px;
}
body .cookie-info-box.closed {
  display: none !important;
}
@media (min-width: 768px) {
  body nav.navbar div ul.nav li a {
    padding: 25px;
  }
  body nav.navbar div ul.nav li ul.dropdown-menu li a {
    padding: 3px 20px;
  }
  body .slider {
    display: block;
  }
}
