#content .container .category-list > div {
  margin-bottom: 20px;
}
#content .container .category-list > div hr {
  margin: 10px 0;
}
#content .container .category-list > div span.empty-message {
  color: #e7e7e7;
}
#content .container .category-list > div ul.product-list {
  list-style-type: none;
  padding-left: 0px;
}
#content .container .category-list > div ul.product-list li {
  padding-left: 0px;
}
#content .container .category-list > div ul.product-list li a {
  color: #333;
}
