@import "../variables";

#content {
  .container {
    .category-list {
      >div {
        margin-bottom: 20px;

        hr {
          margin: 10px 0;
        }
        span.empty-message {
          color: @gray;
        }

        ul.product-list {
          list-style-type: none;
          padding-left: 0px;

          li {
            padding-left: 0px;

            a {
              color: @text-color;
            }
          }
        }
      }
    }
  }
}