@import "../variables";

#content {
  .container {
    a {
      color: @text-color;

      .row {
        padding: 10px 0;

        > div {
          .thumbnail {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            height: 100px;
            margin-bottom: 0;
          }
        }
      }

      &:hover {
        text-decoration: none;

        .row {
          background-color: @light-gray;
        }
      }
    }
  }
}