#content .container a {
  color: #333;
}
#content .container a .row {
  padding: 10px 0;
}
#content .container a .row > div .thumbnail {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  margin-bottom: 0;
}
#content .container a:hover {
  text-decoration: none;
}
#content .container a:hover .row {
  background-color: #efefef;
}
