<h2><?= $this->translate('Kategorie produktów') ?></h2>
<a href="<?= $this->url('product_category/add', ['lang' => $this->layout()->lang]) ?>" class="btn btn-default">
    <?= $this->translate('Dodaj kategorie') ?>
</a>
<hr>
<?php if(!empty($this->category)) { ?>

        <?php foreach($this->category as $c) { /** @var \Products\Entity\Category $c */ ?>
        <div class="row">
            <div class="col-xs-12">
                <h3><?= $c->getName() ?>
                    <small>
                        <a href="<?= $this->url('product_category/edit', ['lang' => $this->layout()->lang, 'id' => $c->getId()]) ?>" class="btn btn-default btn-sm">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="<?= $this->url('product/add', ['lang' => $this->layout()->lang, 'id' => $c->getId()]) ?>" class="btn btn-default btn-sm" title="<?= $this->translate('Dodaj produkt') ?>">
                            <i class="fa fa-plus"></i>
                        </a>
                        <?php if(count($c->getProduct()) == 0) {?>
                            <a data-href="<?= $this->url('product_category/remove', ['lang' => $this->layout()->lang, 'id' => $c->getId()]) ?>" class="btn btn-default btn-sm confirm">
                                <i class="fa fa-times"></i>
                            </a>
                        <?php } ?>
                    </small>
                </h3>
                <?php if(count($c->getProduct()) > 0) {?>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th><?= $this->translate('Nazwa') ?></th>
                                <th class="text-right"><?= $this->translate('Akcja') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach($c->getProduct() as $p) { ?>
                            <tr>
                                <td>
                                    <?= $p->getName() ?>
                                </td>
                                <td class="text-right">
                                    <a href="<?= $this->url('product/edit', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="btn btn-default btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-placement="left" data-href="<?= $this->url('product/remove', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="btn btn-default btn-sm confirm">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        <?php } ?>
    <?php } ?>
<?php } else { ?>
    <?= $this->translate('Lista jest pusta') ?>
<?php } ?>
