.container {
  padding-top: 60px;

  .login-form-box {
    max-width: 400px;
    margin: 30px auto 0;

    form {
      .form-group {
        ul {
          list-style-type: none;
          color: red;
          padding: 0;
        }
      }
    }
  }
}