.container {
  padding-top: 60px;
}
.container .login-form-box {
  max-width: 400px;
  margin: 30px auto 0;
}
.container .login-form-box form .form-group ul {
  list-style-type: none;
  color: red;
  padding: 0;
}
