<?php
    $this->headLink()->appendStylesheet($this->basePath('/css/application/contact.css'));

    $this->inlineScript()->appendFile($this->basePath('/js/application/contact.js'))
        ->appendFile('https://maps.googleapis.com/maps/api/js?callback=initMap')
        ;
    /** @var \Pages\Entity\Page $page */
    $page = $this->page;

    if($page) {
        $title = $page->getName();
    } else {
        $title = $this->translate('Kontakt');
    }
    $this->headTitle($title);
?>

<h2>
    <?= $this->translate($title) ?>
</h2>

<?php if($page) { ?>
    <div>
        <?= $page->getContent() ?>
    </div>
    <hr>
<?php } ?>
<div class="login-form-box">
    <h3><?= $this->translate('Napisz do nas') ?></h3>
    <?= $this->form()->openTag($form) ?>
    <div class="form-group">
        <?= $this->formLabel($form->get('title')) ?>
        <?= $this->formElementErrors($form->get('title')) ?>
        <?= $this->formElement($form->get('title')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('email')) ?>
        <?= $this->formElementErrors($form->get('email')) ?>
        <?= $this->formElement($form->get('email')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('content')) ?>
        <?= $this->formElementErrors($form->get('content')) ?>
        <?= $this->formElement($form->get('content')) ?>
    </div>
    <button class="btn btn-default" type="submit">
        <?= $this->translate('Wyślij') ?>
    </button>
    <?= $this->form()->closeTag() ?>
</div>
<hr>