<h3>
    <?= $this->translate('Slider') ?>
</h3>

<div class="slider-form-box">
    <?= $this->form()->openTag($form) ?>
    <div class="form-group">
        <?= $this->formLabel($form->get('filename')) ?>
        <?= $this->formElementErrors($form->get('filename')) ?>
        <?= $this->formElement($form->get('filename')) ?>
    </div>
    <button class="btn btn-primary" type="submit">
        <?= $this->translate('Zapisz') ?>
    </button>
    <?= $this->form()->closeTag() ?>
</div>

<?php if(!empty($photos)) { ?>
<hr>
<div class="row">
    <?php foreach($this->photos as $p) { /** @var \Cms\Entity\Slider $p */ ?>
        <div class="col-xs-1">
            <div class="thumbnail">
                <a data-href="<?= $this->url('slider/remove_photo', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="pull-right confirm">
                    <i class="fa fa-times"></i>
                </a>
                <img src="/img/userfiles/slider/<?= $p->getFilename() ?>_thumb.jpg" alt="">
            </div>
        </div>
    <?php } ?>
</div>
<?php } ?>