<?= $this->doctype() ?>

<html lang="pl">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle($this->translate('Lignum CMS'))->setSeparator(' - ')->setAutoEscape
    (false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>
        $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/cms/main.css'))
            ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css')
            ->appendStylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css')
            ->appendStylesheet('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css')
    ?>

    <?= $this->headScript() ?>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="<?= $this->url('cms', ['lang' => $this->lang]) ?>">Lignum</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li <?php if($this->route == 'static_pages' || $this->route == 'static_pages/add' || $this->route == 'static_pages/edit') {echo 'class="active"';} ?>>
                    <a href="<?= $this->url('static_pages',['lang' => $this->lang]) ?>">
                        <?= $this->translate('Strony statyczne') ?>
                    </a>
                </li>
                <li <?php if($this->route == 'product_category' || $this->route == 'product_category/add' || $this->route == 'product_category/edit' || $this->route == 'product/add' || $this->route == 'product/edit') {echo 'class="active"';} ?>>
                    <a href="<?= $this->url('product_category', ['lang' => $this->lang]) ?>">
                        <?= $this->translate('Produkty') ?>
                    </a>
                </li>
                <li <?php if($this->route == 'promotions' || $this->route == 'promotions/add' || $this->route == 'promotions/edit') {echo 'class="active"';} ?>>
                    <a href="<?= $this->url('promotions', ['lang' => $this->lang]) ?>">
                        <?= $this->translate('Promocje/Wyprzedaż') ?>
                    </a>
                </li>
                <li <?php if($this->route == 'slider') {echo 'class="active"';} ?>>
                    <a href="<?= $this->url('slider', ['lang' => $this->lang]) ?>">
                        <?= $this->translate('Slider') ?>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <?= $this->translate('Język') ?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li <?php if($this->lang == 'pl') { echo 'class="active"'; } ?>>
                            <a href="<?= $this->url('cms', ['lang' => 'pl'], true) ?>">
                                Pl
                            </a>
                        </li>
                        <li <?php if($this->lang == 'en') { echo 'class="active"'; } ?>>
                            <a href="<?= $this->url('cms', ['lang' => 'en'], true) ?>">
                                En
                            </a>
                        </li>
                    </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="<?= $this->url('auth/logout',['lang' => $this->lang]) ?>"><?= $this->translate('Wyloguj') ?></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="content">
    <div class="container">
        <?= $this->messenger() ?>
        <?= $this->content ?>
    </div>
</div>
<?= $this->inlineScript()
    ->prependFile($this->basePath('/js/cms/main.js'))
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js')
    ->prependFile($this->basePath('/js/all/ckeditor/ckeditor.js'))
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js')
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js')
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js', 'text/javascript', ['conditional' => 'lt IE 9',])
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js',   'text/javascript', ['conditional' => 'lt IE 9',])
?>
</body>
</html>
