<?php
    /** @var \Products\Entity\Product $product */
    $product = $this->product;

    $title = $this->translate('Produkty');
    $this->headTitle($title);
    $this->headTitle($product->getName())
?>
<h3>
    <?= $product->getName() ?>
</h3>
<p>
    <?= $product->getDescription() ?>
</p>
<hr>
<?php if(!empty($product->getPhoto())) { ?>
    <div class="row">
    <?php foreach($product->getPhoto() as $photo) { /** @var  \Products\Entity\ProductPhoto $photo */?>
        <div class="col-xs-6 col-md-2">
            <a class="fancybox thumbnail" rel="group" href="/img/userfiles/products/<?= $photo->getFilename() ?>.jpg">
                <img src="/img/userfiles/products/<?= $photo->getFilename() ?>_thumb.jpg" alt="<?= $product->getName() ?>">
            </a>
        </div>
    <?php } ?>
    </div>
<?php } ?>

