<?php
    $this->headLink()->appendStylesheet($this->basePath('/css/application/products.css'));
?>
<h2>
    <?= $this->translate('Produkty') ?>
</h2>

<div class="category-list row">
<?php if(!empty($this->layout()->category)) { ?>
    <?php foreach($this->layout()->category as $key => $category) { /** @var \Products\Entity\Category $category */ ?>
        <div class="col-md-6 col-lg-3">
            <h4><?= $category->getName() ?></h4>
            <hr>
            <?php if(count($category->getProduct()) > 0) { ?>
                <ul class="product-list">
                    <?php foreach($category->getProduct() as $product) { ?>
                        <li>
                            <a href="<?= $this->url('products/details', ['lang' => $this->layout()->lang, 'title' => $this->charChange($product->getName()), 'id' => $product->getId()]) ?>">
                                <?= $product->getName() ?>
                            </a>
                        </li>
                    <?php } ?>
                </ul>
            <?php } else { ?>
                <span class="empty-message"><?= $this->translate('Brak produktów') ?></span>
            <?php }?>
        </div>
    <?php } ?>
<?php } else {?>
    <?= $this->translate('Lista jest pusta'); ?>
<?php } ?>
</div>
