<?php
    /** @var \Products\Entity\Category $category */
    $category = $this->category;

    $this->inlineScript()->prependFile($this->basePath('/js/cms/editor-init.js'))
?>
<div class="back">
    <a href="<?= $this->url('product_category', ['lang' => $this->layout()->lang]) ?>" class="btn btn-default">
        <?= $this->translate('Powrót') ?>
    </a>
</div>
<h3>
    <?= sprintf($this->translate('Dodaj produkt do kategori: %s'), $category->getName()) ?>
</h3>

<div class="login-form-box">
    <?= $this->form()->openTag($form) ?>
    <div class="form-group">
        <?= $this->formLabel($form->get('name')) ?>
        <?= $this->formElementErrors($form->get('name')) ?>
        <?= $this->formElement($form->get('name')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('description')) ?>
        <?= $this->formElementErrors($form->get('description')) ?>
        <?= $this->formElement($form->get('description')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('filename')) ?>
        <?= $this->formElementErrors($form->get('filename')) ?>
        <?= $this->formElement($form->get('filename')) ?>
    </div>
    <button class="btn btn-primary" type="submit">
        <?= $this->translate('Zapisz') ?>
    </button>
    <?= $this->form()->closeTag() ?>
</div>