<?php
    /** @var \Products\Entity\Product $product */
    $product = $this->product;

    $this->inlineScript()->prependFile($this->basePath('/js/cms/editor-init.js'))
?>

<div class="back">
    <a href="<?= $this->url('product_category', ['lang' => $this->layout()->lang]) ?>" class="btn btn-default">
        <?= $this->translate('Powrót') ?>
    </a>
</div>
<h3>
    <?= $this->translate('Edytuj produkt') ?>
</h3>

<div class="form-box">
    <?= $this->form()->openTag($form) ?>
    <div class="form-group">
        <?= $this->formLabel($form->get('name')) ?>
        <?= $this->formElementErrors($form->get('name')) ?>
        <?= $this->formElement($form->get('name')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('description')) ?>
        <?= $this->formElementErrors($form->get('description')) ?>
        <?= $this->formElement($form->get('description')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('filename')) ?>
        <?= $this->formElementErrors($form->get('filename')) ?>
        <?= $this->formElement($form->get('filename')) ?>
    </div>
    <button class="btn btn-primary" type="submit">
        <?= $this->translate('Zapisz') ?>
    </button>
    <?= $this->form()->closeTag() ?>
</div>

<?php if(count($product->getPhoto()) > 0) { ?>
    <hr>
    <div class="row">
    <?php foreach($product->getPhoto() as $p) { ?>
        <div class="col-xs-1">
            <div class="thumbnail">
                <a data-href="<?= $this->url('product/remove_photo', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="pull-right confirm">
                    <i class="fa fa-times"></i>
                </a>
                <img src="/img/userfiles/products/<?= $p->getFilename() ?>_thumb.jpg" alt="">
            </div>
        </div>
    <?php } ?>
    </div>
<?php } ?>
