<?php if(!empty($message)) : ?>
    <div class="alert alert-danger" role="alert"><?= $message ?></div>
<?php endif; ?>

<div class="login-form-box">
    <?= $this->form()->openTag($form) ?>
        <div class="form-group">
            <?= $this->formLabel($form->get('email')) ?>
            <?= $this->formElementErrors($form->get('email')) ?>
            <?= $this->formElement($form->get('email')) ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('password')) ?>
            <?= $this->formElementErrors($form->get('password')) ?>
            <?= $this->formElement($form->get('password')) ?>
        </div>
        <button class="btn btn-primary" type="submit">
            <?= $this->translate('Zaloguj') ?>
        </button>
    <?= $this->form()->closeTag() ?>
</div>