<div class="text-center">
    <h2><?= $this->translate('Wylogowano poprawnie') ?></h2>
    <a href="<?= $this->url('auth/login') ?>" class="btn btn-default">
        <?= $this->translate('Zaloguje ponownie') ?>
    </a>
    <a href="<?= $this->url('home') ?>" class="btn btn-default">
        <?= $this->translate('Strona główna') ?>
    </a>
</div>