<?= $this->doctype() ?>

<html lang="pl">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle($this->translate('Logowanie - Lignum'))->setSeparator(' - ')->setAutoEscape
        (false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>
            $this->basePath() . '/img/favicon.ico'])
                ->prependStylesheet($this->basePath('/css/auth/main.css'))
                ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css') ?>

        <?= $this->headScript() ?>
    </head>
    <body>
        <div>
            <div class="container">
                <?= $this->content ?>
            </div>
        </div>
        <?= $this->inlineScript()
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js')
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js',   'text/javascript', array('conditional' => 'lt IE 9',)) ?>
    </body>
</html>
