<?php
    $this->headLink()->appendStylesheet($this->basePath('/css/cms/promotion.css'));

    $this->inlineScript()->prependFile($this->basePath('/js/cms/editor-init.js'))
        ->appendFile($this->basePath('/js/cms/promotion.js'));
?>
<div class="back">
    <a href="<?= $this->url('promotions', ['lang' => $this->layout()->lang]) ?>" class="btn btn-default">
        <?= $this->translate('Powrót') ?>
    </a>
</div>
<h3>
    <?= $this->translate('Dodaj promocje') ?>
</h3>

<div class="promotion-form-box">
    <?= $this->form()->openTag($form) ?>
    <div class="form-group">
        <?= $this->formLabel($form->get('type')) ?>
        <?= $this->formElementErrors($form->get('type')) ?>
        <div class="radio">
            <?= $this->formElement($form->get('type')) ?>
        </div>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('valid_to')) ?>
        <?= $this->formElementErrors($form->get('valid_to')) ?>
        <?= $this->formElement($form->get('valid_to')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('filename')) ?>
        <?= $this->formElementErrors($form->get('filename')) ?>
        <?= $this->formElement($form->get('filename')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('title')) ?>
        <?= $this->formElementErrors($form->get('title')) ?>
        <?= $this->formElement($form->get('title')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('description')) ?>
        <?= $this->formElementErrors($form->get('description')) ?>
        <?= $this->formElement($form->get('description')) ?>
    </div>
    <button class="btn btn-primary" type="submit">
        <?= $this->translate('Zapisz') ?>
    </button>
    <?= $this->form()->closeTag() ?>
</div>
