<h2><?= $this->translate('Promocje / Wyprzedaż') ?></h2>
<a href="<?= $this->url('promotions/add', ['lang' => $this->layout()->lang]) ?>" class="btn btn-default">
    <?= $this->translate('Dodaj promocje') ?>
</a>
<hr>
<h3>
    <?= $this->translate('Promocje') ?>:
</h3>
<table class="table table-hover">
    <thead>
        <th>
            <?= $this->translate('Nazwa') ?>
        </th>
        <th>
            <?= $this->translate('Ważna do') ?>
        </th>
        <th class="text-right">
            <?= $this->translate('Akcja') ?>
        </th>
    </thead>
    <tbody>
<?php if(!empty($this->promotions)) { /** @var \Cms\Entity\Promotion $p */?>
    <?php foreach($this->promotions as $p) {?>
        <?php if($p->getType() == 'p') { ?>
        <tr>
            <td>
                <?= $p->getTitle() ?>
                <?php if($this->currentDate > $p->getValidTo()) { ?>
                    <span class="label label-danger"><?= $this->translate('Nie aktualne') ?></span>
                <?php } ?>
            </td>
            <td>
                <?= $p->getValidTo()->format('Y-m-d') ?>
            </td>
            <td class="text-right">
                <a href="<?= $this->url('promotions/edit', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="btn btn-default btn-sm" title="<?= $this->translate('Edytuj') ?>">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a data-href="<?= $this->url('promotions/remove', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" data-placement="left" class="btn btn-default btn-sm confirm">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
        <?php } ?>
    <?php } ?>
<?php } ?>
    </tbody>
</table>

<hr>
<h3>
    <?= $this->translate('Wyprzedaż') ?>:
</h3>
<table class="table table-hover">
    <thead>
    <th>
        <?= $this->translate('Nazwa') ?>
    </th>
    <th class="text-right">
        <?= $this->translate('Akcja') ?>
    </th>
    </thead>
    <tbody>
    <?php if(!empty($this->promotions)) { /** @var \Cms\Entity\Promotion $p */?>
        <?php foreach($this->promotions as $p) {?>
            <?php if($p->getType() == 's') { ?>
                <tr>
                    <td>
                        <?= $p->getTitle() ?>
                    </td>
                    <td class="text-right">
                        <a href="<?= $this->url('promotions/edit', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="btn btn-default btn-sm" title="<?= $this->translate('Edytuj') ?>">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a data-href="<?= $this->url('promotions/remove', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" data-placement="left" class="btn btn-default btn-sm confirm">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
            <?php } ?>
        <?php } ?>
    <?php } ?>
    </tbody>
</table>
