<?php
    $this->headLink()->appendStylesheet($this->basePath('/css/cms/pages.css'));

    $this->inlineScript()->prependFile($this->basePath('/js/cms/editor-init.js'));
?>
<div class="back">
    <a href="<?= $this->url('static_pages', ['lang' => $this->layout()->lang]) ?>" class="btn btn-default">
        <?= $this->translate('Powrót') ?>
    </a>
</div>
<h3>
    <?= $this->translate('Edytuj strone') ?>
</h3>

<div class="form-box">
    <?= $this->form()->openTag($form) ?>
    <div class="form-group">
        <?= $this->formLabel($form->get('name')) ?>
        <?= $this->formElementErrors($form->get('name')) ?>
        <?= $this->formElement($form->get('name')) ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('content')) ?>
        <?= $this->formElementErrors($form->get('content')) ?>
        <?= $this->formElement($form->get('content')) ?>
    </div>
    <button class="btn btn-primary" type="submit">
        <?= $this->translate('Zapisz') ?>
    </button>
    <?= $this->form()->closeTag() ?>
</div>