<h3>
    <?= $this->translate('Strony statyczne') ?>
</h3>
<!--
<a href="<?= $this->url('static_pages/add', ['lang' => $this->layout()->lang]) ?>" class="btn btn-default">
    <?= $this->translate('Dodaj strone') ?>
</a>
<hr>
-->

<table class="table table-hover">
    <thead>
        <th>
            <?= $this->translate('Nazwa') ?>
        </th>
        <th class="text-right">
            <?= $this->translate('Akcja') ?>
        </th>
    </thead>
    <tbody>
<?php foreach($this->pages as $p) { /** @var \Pages\Entity\Page $p */?>
        <tr>
            <td><?= $p->getName() ?></td>
            <td class="text-right">
                <a href="<?= $this->url('static_pages/edit', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="btn btn-default btn-sm" title="<?= $this->translate('Edytuj') ?>">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <!--
                <a href="<?= $this->url('static_pages/remove', ['lang' => $this->layout()->lang, 'id' => $p->getId()]) ?>" class="btn btn-default btn-sm confirm" title="<?= $this->translate('Edytuj') ?>">
                    <i class="fa fa-times"></i>
                </a>
                -->
            </td>
        </tr>
<?php } ?>
    </tbody>
</table>
