#content .container {
  margin-top: 75px;
  width: 100%;
}
#content .container .alert ul {
  list-style-type: none;
  padding-left: 0;
}
#content form ul {
  color: red;
  list-style-type: none;
  padding-left: 0;
}
