#content {
  .container {
    margin-top: 75px;
    width: 100%;

    .alert {
      ul {
        list-style-type: none;
        padding-left: 0;
      }
    }
  }

  form {
    ul {
      color: red;
      list-style-type:none;
      padding-left: 0;
    }
  }
}