.promotion-form-box #promotion-form .form-group ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
}
.promotion-form-box #promotion-form .form-group .valid-to {
  max-width: 100px;
}
.promotion-form-box #promotion-form .form-group .radio {
  margin-top: 0;
}
.promotion-form-box #promotion-form .form-group .radio label {
  margin-right: 20px;
}
