.promotion-form-box {
  #promotion-form {
    .form-group {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: red;
      }

      .valid-to {
        max-width: 100px;
      }

      .radio {
        margin-top: 0;

        label {
          margin-right: 20px;
        }
      }
    }
  }
}