<?= $this->doctype() ?>

<html lang="pl">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle($this->translate('Lignum wyposażenie wnętrz'))->setSeparator(' - ')->setAutoEscape
        (false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>
            $this->basePath() . '/img/favicon.ico'])
                ->prependStylesheet($this->basePath('css/application/main.css'))
                ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css')
                ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css')
                ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css')
        ?>

        <?= $this->headScript() ?>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="<?= $this->url('home', ['lang' => $this->lang]) ?>">Lignum</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li <?php if($this->route == 'home') { echo 'class="active"';} ?>>
                            <a href="<?= $this->url('home', ['lang' => $this->lang]) ?>">
                                <?= $this->translate('O nas') ?>
                            </a>
                        </li>
                        <li class="visible-md visible-lg <?php if($this->route == 'products' || $this->route == 'products/details') { echo 'active';} ?>">
                            <a href="#" class="products-trigger" id="products-trigger">
                                <?= $this->translate('Produkty') ?>
                                <span class="caret"></span>
                            </a>
                        </li>
                        <li class="hidden-md hidden-lg <?php if($this->route == 'products' || $this->route == 'products/details') { echo 'active';} ?>">
                            <a href="<?= $this->url('products', ['lang' => $this->lang]) ?>">
                                <?= $this->translate('Produkty') ?>
                            </a>
                        </li>
                        <li <?php if($this->route == 'special_offer' || $this->route == 'special_offer/details') { echo 'class="active"';} ?>>
                            <a href="<?= $this->url('special_offer', ['lang' => $this->lang]) ?>">
                                <?= $this->translate('Promocje') ?>
                            </a>
                        </li>
                        <li <?php if($this->route == 'sale' || $this->route == 'sale/details') { echo 'class="active"';} ?>>
                            <a href="<?= $this->url('sale', ['lang' => $this->lang]) ?>">
                                <?= $this->translate('Wyprzedaż') ?>
                            </a>
                        </li>
                        <li <?php if($this->route == 'contact') { echo 'class="active"';} ?>>
                            <a href="<?= $this->url('contact', ['lang' => $this->lang]) ?>">
                                <?= $this->translate('Kontakt') ?>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <?= $this->translate('Język') ?>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li <?php if($this->lang == 'pl') { echo 'class="active"'; } ?>>
                                    <a href="<?= $this->url($this->route, ['lang' => 'pl'], true) ?>">
                                        Pl
                                    </a>
                                </li>
                                <li <?php if($this->lang == 'en') { echo 'class="active"'; } ?>>
                                    <a href="<?= $this->url($this->route, ['lang' => 'en'], true) ?>">
                                        En
                                    </a>
                                </li>
                            </ul>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row products-menu" id="products-menu">
            <?php if(!empty($this->category)) { ?>
                <?php foreach($this->category as $key => $category) { /** @var \Products\Entity\Category $category */ ?>
                    <?php if($key < 4) {?>
                        <div class="col-md-6 col-lg-3">
                            <h4><?= $category->getName() ?></h4>
                            <hr>
                            <?php if(count($category->getProduct()) > 0) { ?>
                            <ul class="product-list">
                                <?php foreach($category->getProduct() as $product) { ?>
                                    <li>
                                        <a href="<?= $this->url('products/details', ['lang' => $this->lang, 'title' => $this->charChange($product->getName()), 'id' => $product->getId()]) ?>">
                                            <?= $product->getName() ?>
                                        </a>
                                    </li>
                                <?php } ?>
                            </ul>
                        <?php } else { ?>
                                <span class="empty-message"><?= $this->translate('Brak produktów') ?></span>
                            <?php }?>
                        </div>
                    <?php } ?>
                <?php } ?>
            <?php } ?>
            <div class="col-xs-12 text-right all-products-trigger">
                <a href="<?= $this->url('products', ['lang' => $this->lang]) ?>" class="btn btn-default">
                    <?= $this->translate('Wszystkie produkty') ?>
                </a>
            </div>
        </div>
        <?php if(!empty($this->slider)) { ?>
        <div id="myCarousel" class="carousel slide hidden-xs" data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
                <?php foreach($this->slider as $key => $photo) { /** @var \Cms\Entity\Slider $photo */ ?>
                    <li data-target="#myCarousel" data-slide-to="<?= $key ?>" <?php if($key == 0) { echo 'class="active"'; } ?>></li>
                <?php } ?>
            </ol>
            <div class="carousel-inner">
                <?php foreach($this->slider as $key => $photo) { /** @var \Cms\Entity\Slider $photo */ ?>
                    <div class="item <?php if($key == 0) { echo 'active'; } ?>">
                    <div class="fill" style="background-image: url('/img/userfiles/slider/<?= $photo->getFilename() ?>.jpg')"></div>
                    <div class="carousel-caption">
                        <h1></h1>
                    </div>
                </div>
                <?php } ?>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
            <div class="pattern"></div>
        </div>
        <?php } ?>
        <div id="content">
            <div class="container">
                <?= $this->messenger() ?>
                <?= $this->content ?>
            </div>
            <?php if($this->route == 'contact') {?>
                <div class="map" id="map"></div>
            <?php } ?>
        </div>
        <div class="promotions-box">
            <div class="container">
                <?php if($this->route != 'special_offer' && $this->route != 'special_offer/details') { ?>
                    <h3><?= $this->translate('Promocje') ?></h3>
                    <?= $this->partial('application/partial/small-promotion-list', ['list' => $this->smallPromotionList, 'lang' => $this->lang]) ?>
                <?php } ?>
                <?php if($this->route != 'sale' && $this->route != 'sale/details') { ?>
                    <h3><?= $this->translate('Wyprzedaż') ?></h3>
                    <?= $this->partial('application/partial/small-promotion-list', ['list' => $this->smallSaleList, 'lang' => $this->lang]) ?>
                <?php } ?>
            </div>
        </div>
        <footer>
            <div class="container text-center">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>F.H.U. LIGNUM</h3>
                        31-271 Kraków, ul. Kluczborska 31/1 <br/>
                        tel. 66-123-97, 601-400-616 <br/>
                        tel/fax: (012) 66-123-40 <br/>
                        e-mail: <a href="mailto:lignum@lignum.com.pl">lignum@lignum.com.pl</a>
                        <br/><br/>
                        <p>&copy; Lignum <?= date('Y') ?> <?= $this->translate('Wszelkie prawa zastrzeżone') ?>.</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookie-info-box closed">
            <?= $this->translate('Ta strona wykorzystuje pliki cookie (ciasteczka) ') ?>.
            <?= $this->translate('Pozostając na niej, wyrażasz zgodę na korzystanie z cookies') ?>.
            <?= $this->translate('Dowiedz się więcej') ?>
            <a href="<?= $this->url('privacy_policy', ['lang' => $this->lang]) ?>"><?= $this->translate('Tutaj') ?></a>
            <span class="close-cookie-trigger fa fa-times"></span>
        </div>
        <?= $this->inlineScript()
            ->prependFile($this->basePath('js/application/main.js'))
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js')
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js')
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js', 'text/javascript', ['conditional' => 'lt IE 9',])
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js',   'text/javascript', ['conditional' => 'lt IE 9',]) ?>
    </body>
</html>
