<?php
    /** @var \Cms\Entity\Promotion $item */
    $item = $this->item;
?>
<h3>
    <?= $item->getTitle() ?>
    <?php if(!empty($item->getValidTo())) { ?>
    <span class="small">
        <?= $this->translate('Ważna do') ?>:
        <?= $item->getValidTo()->format('Y-m-d') ?>
    </span>
    <?php } ?>
</h3>
<p>
    <?= $item->getDescription() ?>
</p>
<hr>
<?php if(!empty($item->getFilename())) { ?>
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <a class="fancybox thumbnail" rel="group" href="/img/userfiles/promotions/<?= $item->getFilename() ?>.jpg">
                <img src="/img/userfiles/promotions/<?= $item->getFilename() ?>.jpg" alt="<?= $item->getTitle() ?>">
            </a>
        </div>
    </div>
<?php } ?>