<?php if(!empty($this->list)) { ?>
    <?php foreach($this->list as $p) { /** @var  \Cms\Entity\Promotion $p */ ?>
        <a href="<?= $this->url( $this->layout()->route . '/details', ['lang' => $this->layout()->lang, 'title' => $this->charchange($p->getTitle()), 'id' => $p->getId()]) ?>">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                <?php if(!empty($p->getFilename())) {?>
                    <?php $src = '/img/userfiles/promotions/'. $p->getFilename() .'.jpg' ?>
                <?php } else { ?>
                    <?php $src = '/img/logo_sm.jpg' ?>
                <?php } ?>
                    <div class="thumbnail" style="background-image: url('<?= $src ?>')"></div>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <h4 class="media-heading"><?= $p->getTitle() ?></h4>
                    <?= $this->strCut($p->getDescription()) ?>
                </div>
                <hr>
            </div>
        </a>
    <?php } ?>
<?php } else {?>
    <div class="row">
        <div class="col-xs-12">
            <?= $this->translate('Lista jest pusta') ?>
        </div>
    </div>
<?php } ?>