<?php if(!empty($this->list)) { ?>
    <div class="row">
    <?php foreach($this->list as $p) { /** @var  \Cms\Entity\Promotion $p */ ?>
        <?php if($p->getType() == 'p') {
            $route = 'special_offer/details';
        } else {
            $route = 'sale/details';
        } ?>
        <div class="col-xs-12 col-sm-3">
            <a href="<?= $this->url($route, ['lang' => $this->lang, 'title' => $this->charchange($p->getTitle()), 'id' => $p->getId()]) ?>">
                <div class="thumbnail text-center">
                    <?php if(!empty($p->getFilename())) {?>
                        <img src="/img/userfiles/promotions/<?= $p->getFilename() ?>.jpg" alt="<?= $p->getTitle() ?>" >
                    <?php } else { ?>
                        <div class="logo"></div>
                    <?php }?>
                    <div class="caption">
                        <h4>
                            <small><?= $p->getTitle() ?></small>
                        </h4>
                    </div>
                </div>
            </a>
        </div>
    <?php } ?>
    </div>
<?php } else {?>
    <div class="row">
        <div class="col-xs-12">
            <?= $this->translate('Lista jest pusta') ?>
        </div>
    </div>
<?php } ?>