<?php
    /** @var \Pages\Entity\Page $page */
    $page = $this->page;

    if($page) {
        $title = $page->getName();
    } else {
        $title = $this->translate('O nas');
    }
    $this->headTitle($title);
?>
<h1>
    <?= $title ?>
</h1>
<?php if($page) { ?>
    <div>
        <?= $page->getContent() ?>
    </div>
<?php } ?>